<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">


    <!-- 连接服务配置 -->
    <rabbit:connection-factory id="connectionFactory" host="localhost"
                               username="guest"
                               password="guest" port="5672"
                               channel-cache-size="3"/>
    <rabbit:admin connection-factory="connectionFactory"/>

    <!-- queue 队列声明 -->
    <rabbit:queue id="account" name="account"/>
    <rabbit:queue id="inventory" name="inventory"/>

    <!-- direct-exchange 交换机制声明 -->
    <rabbit:direct-exchange id="directExchange" name="directExchange">
        <rabbit:bindings>
            <rabbit:binding queue="inventory" key="inventory"/>
            <rabbit:binding queue="account" key="account"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!-- spring amqpTemplate声明 -->
    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="directExchange"/>


    <bean id="rabbitmqSendService" class="com.github.myth.rabbitmq.service.RabbitmqSendServiceImpl">
        <property name="amqpTemplate" ref="amqpTemplate"/>
    </bean>


</beans>