<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <!-- 普通消息生产者 -->
    <bean id="defaultMQProducer" class="org.apache.rocketmq.client.producer.DefaultMQProducer"
          init-method="start" destroy-method="shutdown">
        <constructor-arg name="producerGroup" value="producerGroup" />
        <property name="namesrvAddr" value="192.168.1.148:9876" />
        <property name="retryTimesWhenSendFailed" value="10" />
    </bean>

  <bean id="rocketmqSendService" class="com.github.myth.rocketmq.service.RocketmqSendServiceImpl">
      <property name="defaultMQProducer" ref="defaultMQProducer"/>
  </bean>

</beans>